@font-face {
    font-family: 'Keyboard';
    src: local('Keyboard Black Italic'), local('Keyboard-BlackItalic'),
        url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/sans/keyboard/Keyboard-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Keyboard';
    src: local('Keyboard Regular'), local('Keyboard-Regular'),
        url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/sans/keyboard/Keyboard-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Keyboard';
    src: local('Keyboard Light Italic'), local('Keyboard-LightItalic'),
        url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/sans/keyboard/Keyboard-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Keyboard';
    src: local('Keyboard Medium Italic'), local('Keyboard-MediumItalic'),
        url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/sans/keyboard/Keyboard-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Keyboard';
    src: local('Keyboard Light'), local('Keyboard-Light'),
        url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/sans/keyboard/Keyboard-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Keyboard';
    src: local('Keyboard Medium'), local('Keyboard-Medium'),
        url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/sans/keyboard/Keyboard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Keyboard';
    src: local('Keyboard Regular Italic'), local('Keyboard-RegularItalic'),
        url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/sans/keyboard/Keyboard-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Keyboard';
    src: local('Keyboard Black'), local('Keyboard-Black'),
        url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/sans/keyboard/Keyboard-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Keyboard';
    src: local('Keyboard Bold'), local('Keyboard-Bold'),
        url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/sans/keyboard/Keyboard-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Keyboard';
    src: local('Keyboard Bold Italic'), local('Keyboard-BoldItalic'),
        url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/sans/keyboard/Keyboard-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

