@font-face {
    font-family: 'Nouvelle Vague';
    src: url('https://cdn.jsdelivr.net/gh/watanaproma/iybff/display/nouvelle-black/NouvelleVague-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

