@font-face {
    font-family: 'Nouvelle Vague';
    src: url('https://dl.dropboxusercontent.com/s/d5ds8euh1207jym/NouvelleVague-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

